@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    /*--foreground: #171717;*/
    --foreground: #ffffff;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;

    /*background-position: center;*/


}

.MuiDayCalendar-weekDayLabel:nth-of-type(1)::after {
    content: "2";
}

.MuiDayCalendar-weekDayLabel:nth-of-type(2)::after {
    content: "3";
}

.MuiDayCalendar-weekDayLabel:nth-of-type(3)::after {
    content: "4";
}

.MuiDayCalendar-weekDayLabel:nth-of-type(4)::after {
    content: "5";
}

.MuiDayCalendar-weekDayLabel:nth-of-type(5)::after {
    content: "6";
}

.MuiDayCalendar-weekDayLabel:nth-of-type(6)::after {
    content: "7";
}

.MuiDayCalendar-weekDayLabel:nth-of-type(7)::after {
    content: "N";
}

.MuiDayCalendar-weekDayLabel::before {
    content: "";
    display: none;
}
